body {
font-family: Arial, sans-serif;
margin: 30px;
}
form {
    width: 400px;
    margin: auto;
    padding:20px;
    border:1px solid #ccc;
    border-radius: 5px;
}

label {
    display: block;
    margin-top:10px;
    font-weight:bold;
}

input, select, button {
    width:100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}
.error {
    width:400px;
margin: auto;
padding:10px;
border-radius: 5px;
}
